html,
body {
	height: 100%;
	padding-top: 0;
	margin: 0;
	overflow: scroll-y;
}
body{
	background-color: #F7F7F7;
	-webkit-text-size-adjust: 100%;
}

/*
ヘッダー
*/
#header{
	/*position: absolute;だとheadroomjsが動かない*/
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: rgba(250,150,40,0.8);
	/*背景のみのため
	/*opacity: 0.8;*/
	z-index: 10;
}
#header_inner{
	width: 250px;
	float: left;
	padding: 0;
	margin: 0;
}
#header h1{
	padding-top: 0;
	margin-left: 30px;
	font-size: 2.3em;
	font-family: Helvetica;
	color: #fffafa;
}
/*headroom*/
.header-animated {
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both
}
.header-animated.slideUp {
	-webkit-animation-name: slideUp;
	-moz-animation-name: slideUp;
	-o-animation-name: slideUp;
	animation-name: slideUp
}
@-webkit-keyframes slideUp {
	0% {
	-webkit-transform: translateY(0)
	}
	/*スライドアップで隠す領域*/
	100% {
	-webkit-transform: translateY(-100%)
	}
}
.animated.slideDown {
	-webkit-animation-name: slideDown;
	-moz-animation-name: slideDown;
	-o-animation-name: slideDown;
	animation-name: slideDown
}
@-webkit-keyframes slideDown {
	/*スライドダウンで隠す領域*/
	0% {
	-webkit-transform: translateY(-100%)
	}

	100% {
	-webkit-transform: translateY(0)
	}
}

/*
メイン画像
*/
#top-table .top-background{
	position: relative;
	width: 1000px;
	height: 450px;
	margin: 0 auto;
}
.top-background .top-image .top-text{
	position: absolute;
	display:block;
}
.top-image{
	margin: 0;
}
.top-text{
	position: absolute;
	margin: 0;
	top: 160px;
	left: 100px;
	font-size: 3em;
	color: #fffafa;
	font-family: Helvetica;
	/*中央寄せ*/
	text-align: center;
}

/*
ソーシャルログイン
*/
.social-login{
	position:relative;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
}
.twitter-login{
	/*position: absolute;*/
	margin: 0 150px 20px 150px;
	display: block;
	padding-top: 10px;
	margin-top: 50px;
	width: 700px;
	height: 60px;
	font-size: 30px;
	font-weight: 600;
	background-color: rgba(0,172,237,1);
	color: #fffafa;
/*ソーシャルログインの画像を角丸にする*/
	border-radius: 15px;
	text-align: center;
}
.fb-login{
	/*position: absolute;*/
	margin: 0 150px 50px 150px;
	display: block;
	padding-top: 10px;
	margin-top: 10px;
	width: 700px;
	height: 60px;
	font-size: 30px;
	font-weight: 600;
	background-color: rgba(30,50,97,1);
	color: #fffafa;
/*ソーシャルログインの画像を角丸にする*/
	border-radius: 15px;
	text-align: center;
}

/*
メインテキスト
*/
.main-text{
	position:relative;
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	color: #6F6F6F;
}

.inline_block{
	width: 300px;
	height: 300px;
	background: #ccc;
	display: block;
	text-align: center;
}
.inline_block > *{
	vertical-align: middle;
	display: inline-block;
	zoom: 1;  Fix for IE7
	display: inline;  Fix for IE7*/
}
.inline_block span {
	height: 100%;
	width: 0px;
	display: inline-block;
	zoom: 1;  /*Fix for IE7*/
	display: inline;  /*Fix for IE7 */
}

/*
推しメン
*/
.oshimen{
	position:relative;
	width: 1000px;
	height: 1500px;
	margin: 0 auto;
	background-color: #fffafa;
	border: solid 1px;
	border-color: #CCCCCC;
}
.white-box{
	background: #fffafa;
	width: 350px;
	height: 550px;
	border: solid 1px;
	border-color: #CCCCCC;
	border-radius: 20px;
	float: left;
	margin: 30px 70px 10px 70px;
	text-align: center;
}
.man-image{
	margin: 20px 20px 10px 20px;
}
.player-name,.point-up{
	width: 300px;
	margin: 0 25px 0 25px;
	text-align: left;
	font-size: 25px;
}
.player-name{
	color: #101010;
}
.point-up > div{
	color: #FC7336;
	font-weight: 600;
}
.toushi{
	background: #FA9628;
	border-radius: 40px;
	width: 300px;
	height: 60px;
	color: white;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	line-height: 60px;
	margin: 10px 25px 10px 25px;
	font-size: 25px;
}

/*
フッター
*/
#footer{
	position: relative;
	top: 50px;
	margin: 0 auto;
	padding-top: 30px;
	height: 100px;
	width: 1000px;
	background-color: #ECECEC;
	border-top-color: rgb(191, 198, 197);
	border-top-style: solid;
	border-top-width: 1.5px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: default;
	display: block;
	font-family: Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
	font-size: 14px;
	line-height: 25px;
}